.icons {
  display: flex;
  justify-content: space-between;
  padding: 5%;
}
.icons__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 25%;
}
.icons__icon span {
  width: 100%;
  text-align: center;
}
.icons__icon i {
  font-size: 2rem;
}
